<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="evara-frontend/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="evara-frontend/assets/css/main.css?v=3.4">


</head>
<style>
    .account-dropdown {
    min-width: 200px;
    padding: 15px;
}

.account-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.account-dropdown ul li {
    border-bottom: 1px solid #f2f2f2;
}

.account-dropdown ul li:last-child {
    border-bottom: none;
}

.account-dropdown ul li a {
    padding: 8px 0;
    display: block;
    color: #253D4E;
    font-size: 13px;
}

.account-dropdown ul li a:hover {
    color: #3BB77E;
}

.header-action-icon-2:hover .account-dropdown {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.header-action-2 .header-action-icon-2 {
    position: relative;
    padding: 0 10px;
}

.header-action-2 .header-action-icon-2 > a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-action-2 .header-action-icon-2 .lable {
    margin: 5px;
    font-size: 14px;
    color: #253D4E;
}

.cart-dropdown-wrap.account-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 10px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-action-icon-2:hover .cart-dropdown-wrap.account-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.cart-dropdown-wrap.account-dropdown::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.mr-10 {
    margin-right: 10px;
}
</style>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="evara-frontend/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <% if(locals.user){ %>
                                    <div class="header-action-icon-2">
                                        <a class="mini-cart-icon" href="/userProfile">
                
                                            <span class="lable ml-0"><%= locals.user.username %></span>
                                        </a>
                                        <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                            <ul>
                                                <li>
                                                    <a href="/userProfile"><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                                </li>
                                                <li>
                                                    <a href="/orders"><i class="fi fi-rs-shopping-bag mr-10"></i>Order Tracking</a>
                                                </li>
                                                <li>
                                                    <a href="/wishlist"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
                                                </li>
                                                <li>
                                                    <a href="/settings"><i class="fi fi-rs-settings mr-10"></i>Setting</a>
                                                </li>
                                                <li>
                                                    <a href="/logout"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div class="header-action-icon-2" style="gap: 10px;">
                                        <a href="/login">
                                            <span class="lable ml-0">Login</span>
                                        </a>
                                        <a href="/signUp">
                                            <span class="lable ml-0">signUp</span>
                                        </a>
                                    </div>
                                <% } %>
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="evara-frontend/assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">0</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="evara-frontend/assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue">0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="evara-frontend/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="">Home</a></li>
                                    <li><a href="page-about.html">About</a></li>
                                    <li><a href="">Shop</a></li>
                                    <li><a href="#">Pages</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="evara-frontend/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="evara-frontend/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>

                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="evara-frontend/assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">

                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a></li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>

                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>

                            </li>

                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>

                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <% if(locals.user){ %>
                            <div class="dropdown">
                                <a href="#" class="sign-in-link">
                                    <% locals.user.name %>
                                </a>
                                <div class="dropdown-content">
                                    <a href="/userProfile">Profile</a>
                                    <a href="/logout">Logout</a>

                                </div>
                            </div>
                            <% }else {%>

                                <a href="/signup" class="sign-in-link">Sign Up </a>
                                <a href="/login" class="sign-in-link">Login</a>
                                <% } %>

                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="evara-frontend/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="evara-frontend/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="evara-frontend/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="evara-frontend/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="evara-frontend/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>